<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/ServletDenemeleri/form" method = "post">
ad <input type = "text" name = "ad">

<p align="left">Cinsiyet</p>
<select name = "cinsiyet">
	<option value = "bay">Bay</option>
	<option value = "bayan">Bayan</option>
</select>

<p align="left">Takım</p>
<input type = "radio" name = "takim" value = "gs">Gs
<input type = "radio" name = "takim" value = "fb">Fb
<input type = "radio" name = "takim" value = "bjk">Bjk

<p align= "left">Öğrenmek istediğiniz</p>
Java SE<input type = "checkbox" value = "Java SE" name = "check">
Java EE<input type = "checkbox" value = "Java EE" name = "check">
<br>
<input type = "submit" value = "Gönder">
</form>

</body>
</html>